$primary-color: #715ac1;
$secondary-color: #fff;

$shadow-color: rgba(0, 0, 0, 0.1);

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin boundaries($isAuto: true) {
  width: 90%;
  max-width: 980px;

  @if $isAuto {
    margin: auto;
  }
}

@function set-text-color($color) {
  @if lightness($color) > 70 {
    @return #333;
  } @else {
    @return #fff;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}
