.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: set-text-color($primary-color);
    background-color: $primary-color;
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
    border: none;

    &:hover {
        opacity: 0.9;
    }
  }
