#form {
    @extend .flexCenter;

    width: 100%;

    background: #7159c1;
    padding: 80px 0;
    margin: 0;

    form {
        @include boundaries(false);

        background: white;

        padding: 40px;

        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 0px 10px 20px -10px rgba(0, 0, 0, 0.1);

        label {
            display: none;
        }
    }

    h3 {
        margin-bottom: 30px;
    }

    .button {
        margin: 20px 8px 10px;
    }
}

.form-group {
    display: flex;
    flex-direction: row;

    label.right-inline {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto;
    }

    .input-control {
        flex: 1 1;
        display: block;
        width: 100%;
        margin: -4px auto 10px;
        padding: 12px;
        font-size: 1.6rem;
    }
}
