header {
    background-color: $primary-color;

    .container {
        @include boundaries();
        @extend .flexCenter;

        justify-content: space-between;
    }

    img {
        width: 150px;
        margin-left: 20px;
        padding: 15px 0;
    }

    nav ul {
        display: flex;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: set-text-color($primary-color);
                text-transform: uppercase;
                font-size: 1.4rem;
                padding: 2.4rem;
                transition: all 250ms linear 0s;

                &:hover {
                    background: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }
}
