.modal-overlay {
  @extend .flexCenter;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  @extend .flexCenter;
  
  position: relative;
  
  background-color: set-text-color($primary-color);
  
  width: 95%;
  height: 95%;
  
  margin: 0 auto;
  padding: 10px;
  
  border-radius: 3px;
  box-shadow: 0 2px 10px $shadow-color;
  
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scale(1.2);

  .close-modal {
    position: absolute;
    cursor: pointer;
  
    top: 5px;
    right: 15px;
    
    opacity: 0;
    
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .modal-content {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
  }
}

.modal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

  .modal-content {
    opacity: 1;
  }

  .close-modal {
    transform: translateY(10px);
    opacity: 1;
  }
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  background-color: set-text-color($primary-color);
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  transform: translate(-50%, -50%);
}
